.img-logo{
    width:auto ;
    max-height:35px;
}

.inline-block{
    display: inline-block;
}

.input-date{
    max-height: 30px;
    font-weight: bold;
    text-align: center;
    margin-right:10px;
    max-width: 130px;
    border: 1px solid gray;
    border-radius: 10px;
}

.input-date[name="interval"]{
    max-width: 40px;
}