<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, target-densitydpi=device-dpi">
</head>
<body>
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="640">
                <div class="content">
                    <div class="header">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">
                                    <img src="http://a1.dspnimg.com/data/l/131384309786_WH1k8r9G_l.jpg"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            <p>Dear <%= name %>,</p>
                                            <p class="last">Thank you for signing up to my App.  Please click on the link below to verify your email address and complete your registration.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <table border="0" cellpadding="0" cellspacing="0" class="btn-primary">
                                                <tr>
                                                    <td align="center" valign="middle" class="btn-content">
                                                        <a href="<%= link %>" target="_blank">Verify your email</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block signature">
                                            &mdash; My App
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block last helper-text">
                                            This is an automated e-mail message, please do not reply directly. You can contact us by sending an e-mail to <a href="mailto: support@me.com" target="_blank" class="email-link">support@me.com</a>.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="alignleft copyright" valign="middle">
                                    Copyright &copy; 2014 App Inc. All rights reserved.
                                </td>
                                <td width="25" valign="middle" class="social-icon">
                                    <a href="https://www.facebook.com/pages/App/265462736898118" target="_blank"><img src="https://s3.amazonaws.com/facebook.jpg"/></a>
                                </td>
                                <td width="25" valign="middle" class="social-icon">
                                    <a href="https://twitter.com/App" target="_blank"><img src="https://s3.amazonaws.com/twitter.jpg"/></a>
                                </td>
                                <td width="25" valign="middle" class="social-icon">
                                    <a href="https://www.linkedin.com/company/App" target="_blank"><img src="https://s3.amazonaws.com/linkedin.jpg"/></a>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="content-block">
                                    This email contains sensitive, confidential and trade secret information; and no part of it shall be disclosed to third parties or reproduced in any form or by any electronic or mechanical means, including without limitation information storage and retrieval systems, without the express prior written consent of my Inc.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
