/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6;
}

/* Let's make sure all tables have defaults */
table td {
  vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: #fff;
}

.body-wrap {
  background-color: #fff;
  width: 100%;
}

.container {
  display: block !important;
  max-width: 640px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

.content {
  max-width: 640px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #fff;
  border: 1px solid #dddde0;
  border-radius: 3px;
  color: #444447;
}

.content-wrap {
  padding: 35px 35px 10px;
}

.content-block {
  padding: 0 0 20px;
}

.content-block a.email-override {
  color: #444447;
  font-size: 14px;
  font-weight: normal;
}

.content-block.last {
  padding-bottom: 0;
}
.content-block.signature {
  color: #88888b;
}
.content-block.helper-text {
  font-size: 11px;
  line-height: 18px;
  color: #88888b;
}
.content-block.helper-text a.email-link {
  color: #88888b;
  text-decoration: underline;
  font-size: 11px;
}
.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  clear: both;
  color: #88888b;
  padding: 15px 0 0 0;
}

.footer p, .footer a, 
.footer unsubscribe, 
.footer td {
  font-size: 11px;
  line-height: 18px;
}

.footer .copyright {
  padding: 3px 0;
}
.footer .social-icon {
  padding-bottom: 10px;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #444447;
  line-height: 1.2;
  font-weight: 400;
  margin: 40px 0 0 0;
}

h1 {
  font-size: 32px;
  font-weight: 300;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

p, ul, ol {
  margin-bottom: 20px;
  font-weight: normal;
}
p li, ul li, ol li {
  margin-left: 5px;
  list-style-position: inside;
}


/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a{
  color: #e0203c;
  text-decoration: underline;
}

.btn-primary {
  background-color: #e0203c;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid #b1122a;
}

.btn-primary .btn-content {
  padding: 10px 20px;
}
.btn-primary .btn-content a {
  color: #fff;
  text-decoration: none;
  line-height: 1.25;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.clear {
  clear: both;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
  h1, h2, h3, h4 {
    font-weight: 600 !important;
    margin: 20px 0 5px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  .container {
    width: 100% !important;
  }

  .content, .content-wrap {
    padding: 10px !important;
  }

}
