<h3 style="text-align: center; padding:5px">
    Chart View
</h3>
<!-- START widgets box-->
<div class="row" ng-controller="chartController">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="padding: 10px; text-align: center; margin:0px">
                <label>STAR DATE : </label>
                <input type="date" ng-model="startDate" class="input-date" placeholder=""/>
                <label>END DATE : </label>
                <input type="date" ng-model="endDate" class="input-date" placeholder=""/>
                <input type="button" class="input-date btn" ng-click="drawChart()" value="submit"/>
            </div>
            <div ng-if="showError" ng-bind="showError"  style="padding: 10px; text-align: center; margin:0px ; color:red"></div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
