<h3 style="text-align: center; padding:5px">
        Table View
</h3>
<!-- START widgets box-->
<div class="row" ng-controller="DashboardController">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive widget-margin">
                    <table id="datatable" class="table table-striped table-hover text-center">
                        <thead>
                        <tr >
                            <th class="text-center" style="width:10%">No.</th>
                            <th class="text-center" style="width:10%">Logo</th>
                            <th class="text-center" style="width:10%">Application</th>
                            <th class="text-center" style="width:10%"> Today transaction</th>
                            <th class="text-center" style="width:10%"> Total transaction</th>
                            <th class="text-center" style="width:10%"> Total users</th>
                            <th class="text-center" style="width:10%"> Today revenue</th>
                            <th class="text-center" style="width:10%"> Total revenue</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in data">
                            <td>{{$index + 1}}</td>
                            <td ><div class="media"><img ng-src="{{data.logo}}" alt="Image" class="img-responsive img-circle" title="{{data.project}}"></div></td>
                            <td ng-bind="data.project"></td>
                            <td ng-bind="data.today_transaction"></td>
                            <td ng-bind="data.total_transaction"></td>
                            <td ng-bind="data.total_users"></td>
                            <td ng-bind="data.today_revenue"></td>
                            <td ng-bind="data.total_revenue"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
