<!-- START Top Navbar-->

<script type="text/ng-template" id="sidebar-renderer.html">
    <a href="{{item.sref}}" title="{{item.text}}"><span class="{{item.icon}}"></span>
        <span>{{item.text}}</span>
    </a>
</script>

<div role="navigation" class="topnavbar">
         <!-- START navbar header-->
   <div class="navbar-header">
      <h3>{{app.name}}</h3>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <ul class="nav navbar-nav navbar-right">
          <!-- Fullscreen (only desktops)-->
          <li class="visible-lg">
              <a href="#" toggle-fullscreen="toggle-fullscreen" title="Full Screen">
                  <em class="fa fa-expand"></em>
              </a>
          </li>
          <!-- START Logout function-->
          <li>
              <a title="Logout" ng-controller="LoginController" ng-click="logout()">
                  <em class="icon-logout"></em>
              </a>
          </li>
          <!-- END Logout function-->
      </ul>
      <!-- END Right Navbar-->
   </div>

    <div>
        <div class="sidebar" style="padding:0px">
                <div style="display:inline-block; width:50%; text-align:center; border:1px solid #23b7e5; padding:10px" ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'"></div>
        </div>
    </div>

</div>
<!-- END Top Navbar-->