<div class="block-center mt-xl wd-xl" ng-controller="LoginController">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
      </div>
      <div class="panel-body">
         <p class="text-center pv">PASSWORD RESET</p>
         <form role="form" ng-submit="recover()" validate-form="" novalidate="" class="mb-lg">
            <p class="text-center">Enter you email to receive instructions on how to reset your password.</p>
            <div class="form-group has-feedback">
               <label for="resetInputEmail1" class="text-muted">Email address</label>
               <input id="resetInputEmail1" type="email" placeholder="Enter email" class="form-control" ng-model="account.email" required="required"/>
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Reset</button>
         </form>
          <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
          <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>

          <span class="label label-account" style="color:black"><a ui-sref="login" class="btn btn-block btn-default">Back to Login</a> </span>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>