<div ng-controller="RegisterFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
       <div class="panel-heading text-center">
           <p class="text-center pv">SIGNUP TO GET INSTANT ACCESS.</p>
       </div>
      <div class="panel-body">
         <form role="form" validate-form="" novalidate="" ng-submit="register()" class="mb-lg">
            <div class="form-group has-feedback">
               <label for="signupInputname1" class="text-muted">Name</label>
               <input id="signupInputname1" type="text" placeholder="Enter name" autocomplete="off" ng-model="account.name" required="required" class="form-control" />
            </div>
            <div class="form-group has-feedback">
               <label for="signupInputEmail1" class="text-muted">Email address</label>
               <input id="signupInputEmail1" type="email" placeholder="Enter email" autocomplete="off" ng-model="account.email" required="required" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <label for="signupInputRole1" class="text-muted">Role</label>
               <input id="signupInputRole1" type="text" placeholder="Role" autocomplete="off" ng-model="account.role" required="required" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" required="required" name="agreed" ng-model="account.agreed" />
                     <span class="fa fa-check"></span>I agree with the <a ui-sref="terms">terms</a>
                  </label>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Create account</button>
         </form>
         <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
         <p class="pt-lg text-center">Have an account?</p><a ui-sref="page.login" class="btn btn-block btn-default">Login</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>