<div class="abs-center wd-xxl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="text-lg mb-lg">Terms & Conditions</div>
      <p class="lead m0">Lorem ipsum</p>
   </div>

   <ul class="list-inline text-center text-sm mb-xl">
      <li><a href="" ui-sref="dashboard" class="text-muted">Go to App</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="login" class="text-muted">Login</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="register" class="text-muted">Register</a>
      </li>
   </ul>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>