<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="text-lg mb-lg">Thank You</div>
      <p class="lead m0"> Your Registration is Complete</p>
      <br>
      <p>We will verify your account and send a verification mail to your registered email id</p>
   </div>

   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>