

<div ng-controller="VerifyFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
       <div class="panel-heading text-center">
           <p class="text-center pv">Complete Your Signup</p>
       </div>
      <div class="panel-body">
         <form role="form" validate-form="" novalidate="" ng-submit="verify()" class="mb-lg">
            <div class="form-group has-feedback">
               <label for="signupInputPassword1" class="text-muted">Password</label>
               <input id="signupInputPassword1" type="password" placeholder="Password" autocomplete="off" ng-model="account.password" required="required" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <label for="signupInputRePassword1" class="text-muted">Retype Password</label>
               <input id="signupInputRePassword1" type="password" placeholder="Retype Password" autocomplete="off" ng-model="account.password2" required="required" data-parsley-equalto="#signupInputPassword1" class="form-control"
               />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" required="required" name="agreed" ng-model="account.agreed" />
                     <span class="fa fa-check"></span>I agree with the <a ui-sref="page.terms" target="_blank">terms</a>
                  </label>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Done</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>